// COMMON
@desaturatedRed:hsl(0, 36%, 70%);
@softRed:hsl(0, 93%, 68%);
@darkGrayishRed:hsl(0, 6%, 24%);

body, html{
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background-size: contain;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat; 
    @media (min-width: 1025px) {
    background-size: 60% 100%;
    }
}

// END OF COMMON

// HERO

.hero__container{      
    margin: 0 auto;
    @media (min-width: 1025px) {
        height: 100vh; 
        display: grid; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 100px 7fr 9fr 3fr 10fr auto; 
        grid-template-rows: 1fr 2fr 2fr 13fr 4fr 1fr 5fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". . . . . photo-container"
            ". logo-container . . . photo-container"
            ". . . . . photo-container"
            ". text-container text-container text-container . photo-container"
            ". form-container form-container form-container . photo-container"
            ". error-message error-message error-message . photo-container"
            ". . . . . photo-container";
    
    }
    .logo-container{
        height: 85px;    
        grid-area: logo-container;
        .logo{
            width: 100px;
            padding: 2rem;
            @media (min-width: 1025px) {
                width: 140px;
            } 
        }        
    }
    .photo-container{
        max-width: 100vw;
        overflow: hidden;
        grid-area: photo-container;
        .photo--mobile{
            width: 100%;
            @media (min-width: 1025px) {
                display: none;
            }
        }
        .photo--desktop{
            display: none;
            width: 100%;
            @media (min-width: 1025px) {
                display: block;
            }
        }
    }
    .text-container{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        grid-area: text-container;
        @media (min-width: 1025px) {
            width: 100%;
            margin: 0 0 0 32px;
            padding-top: 0;
            text-align: left;
        }
        .hero__header{
            margin-bottom: 0;
            padding-top: 1.4rem;
            color: @desaturatedRed;
            text-transform: uppercase;
            font-size: 2.7rem;
            font-weight: 300;
            letter-spacing: 8px;
            span{
                color: @darkGrayishRed;
                font-weight: 700;
            }
            @media (min-width: 1025px) {
                padding: 0 0 1rem 0;
                font-size: 3.5rem;
            }
        }
        .hero__description{
            margin: 0;
            padding-top: 0.8rem;
            color: @desaturatedRed;
            line-height: 1.3rem;
            @media (min-width: 1025px) {
                font-size: 17px;
            }
            
        }
    }
    .form-container{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 240px;
        margin: 2.3rem auto 2rem auto;
        grid-area: form-container;
        @media (min-width: 360px) {
            width: 310px;                
        }
        @media (min-width: 1025px) {
            width: 100%;
            margin: 2rem 0 0 32px;
        }
        .input{
            width: 100%;
            height: 52px;
            padding: 1rem 1rem 1rem 1.5rem;
            color: @desaturatedRed;
            border: 1px solid @desaturatedRed;
            border-radius: 26px;
            box-sizing: border-box;
            &::placeholder{
                color: @desaturatedRed;
            }
            &:focus{
                outline: none;
            }
        }
        .cta__button{
            height: 52px;
            width: 65px;
            margin-left: -64px;
            border-radius: 26px;
            outline: none;
            border: none;
            background-image: linear-gradient(135deg,  hsl(0, 80%, 86%),hsl(0, 74%, 74%));
            box-shadow: hsl(0, 74%, 74%) 2px 4px 14px;
            cursor: pointer;  
            z-index: 2;
            &:hover{
                background-image: linear-gradient(135deg,  hsl(0, 74%, 74%),hsl(0, 77%, 54%)); 
            }
            @media (min-width: 1025px) {
                width: 85px;
            }
            img{
                height: 100%;                
                padding: 12px;
                box-sizing: border-box;
            }
        }
        .error__icon{
            position: absolute;
            top: 50%;
            right: 65px;
            transform: translate(-50%,-50%);
            z-index: 1;
            visibility: hidden;
            @media (min-width: 1025px) {
                right: 85px;
            }
        }
    }
    .error-message{
        width: 240px;
        margin: -20px auto 2rem auto;
        padding-left: 25px;
        font-size: 13.3333px;
        color: @softRed;
        box-sizing: border-box;
        grid-area: error-message;
        visibility: hidden;
        @media (min-width: 360px) {
            width: 310px;                
        }
        @media (min-width: 1025px) {
            margin: .7rem 0 0 32px;
        }
    }
    .error{
        visibility: visible;
    }
}


// END OF HERO